import json
#reading file from json file
fd=open('inventory_data2.json','r')
js=fd.read()
fd.close()
data=json.loads(js)
for key in data.keys():
    print(key,':',data[key]['Name'],' | ',data[key]['Price'],' | ',data[key]['Qn'])
user_name=input("Enter your name          :")
user_ph_no=input("Enter your phone number :")
user_email=input("Enter your email id     :")
prod_id=input("Enter Product Id           :")
prod_qn=int(input("Enter Quantity         :"))
sales=user_name+','+user_ph_no+','+user_email+','+prod_id
#if we have enough quantity
if data[prod_id]['Qn']>=prod_qn:
    data[prod_id]['Qn']=data[prod_id]['Qn']-prod_qn
    print("-----------BILL-----------")
    print("Product_Name  : ",data[prod_id]["Name"])
    print("Product_Price : ",data[prod_id]["Price"])
    print("Product_Quant.: ",prod_qn)
    print("Total Amount  : ",prod_qn*data[prod_id]["Price"])
    sales=sales+','+data[prod_id]['Name']+','+str(prod_qn*data[prod_id]["Price"])+'\n'
    fd=open('sales_data.txt','a')
    fd.write(sales)
    fd.close()

else:
    print("Sorry, We're not having enough quantity")
    print("We're having only ",data[prod_id]["Qn"])
    ans=input("Enter Y to purchase")
    if(ans=='Y' or ans=='y'):
        print("-----------BILL-----------")
        print("Product_Name  : ",data[prod_id]["Name"])
        print("Product_Price : ",data[prod_id]["Price"])
        print("Product_Quant.: ",data[prod_id]["Qn"])
        print("Total Amount  : ",data[prod_id]["Qn"]*data[prod_id]["Price"])
        
        sales=sales+','+data[prod_id]['Name']+','+str(data[prod_id]["Qn"]*data[prod_id]["Price"])+'\n'
        data[prod_id]['Qn']=0
        fd=open('sales_data.txt','a')
        fd.write(sales)
        fd.close()
    else:
          print('Thanks')
js=json.dumps(data)
fd=open('inventory_data2.json','w')
fd.write(js)
fd.close()
